recursive-include doc *.rst
recursive-include tests *.py
include doc/conf.py
include MANIFEST.in
include HISTORY
include INSTALL
include README.md
include GPL-2.0
include pymemcompat.h
include metadata.cfg
include site.cfg
include setup_common.py
include setup_posix.py
include setup_windows.py
