prune CVS
recursive-include doc *.txt
include MANIFEST.in
include MANIFEST
include ChangeLog
include CHANGES-1.2.1
include GPL
include pymemcompat.h
include dbapi20.py
include test_MySQLdb_dbapi20.py
include test_capabilities.py
include test_MySQLdb_capabilities.py
include metadata.cfg
include site.cfg
