recursive-include doc *.txt
recursive-include tests *.py
include MANIFEST.in
include MANIFEST
include ChangeLog
include HISTORY
include GPL
include pymemcompat.h
include metadata.cfg
include site.cfg
include setup_common.py
include setup_posix.py
include setup_windows.py
